@media only screen and (max-device-width : 640px) {
	div.wrapper {
	    min-height: 100%;
	    width: 100%;
	    height: auto;
	}

	div.container{
	    width: 100%;
	    margin: 0;
        padding: 5%;	
	}

	div.left{
		width: 100%;
		float: none;
	    /*margin-top: 13%;*/
	}

	div.right{
		width: 100%;
		float: none;
	}
	
	select.selectMenu {
	    margin-right: 0px;
	    float: right;
	}
	div.boggleBox {
	    padding-top: 1%;
	}
	table.boggleTable{
		margin: 0 auto;
	}	
	
	table.boggleTable tr td {
	    border: solid 5px;
	    width: 60px;
	    height: 60px;
	    background-color: #3fb6b8;
	}

	td.boggleCell p{
		margin: 1% 0 0 24%;		
	}


	 button.start-btn {
	    width: 47%;
	    /*float: right;*/
        /*margin: 0 9px 0 0 !important;*/
	}
	
	button.restart-btn {
	    width: 47%;
	    /*float: left;*/
        margin: 0 0 0 10px !important;
	} 

	div.buttons button{
		margin: 0px;
	}
	
	div.inputs{
		/*position: absolute;*/
		top: 0px;
	}

}


@media (pointer:coarse) {

}